# OS files
.DS_Store
Thumbs.db

# Editor / IDE files
.vscode/
.idea/
*.swp

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Build output (future use)
dist/
build/

# Dependencies
node_modules/

# Private keys
*.pem
